@import 'variables';

* {
	box-sizing: border-box;
}

body, input, select, textarea {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
}

body {
	background: #fff;
}

.inner {
	background: #FED430;
	margin: 0px auto;
	width: 1150px;

	@media(max-width: 1150px) {
		width: 1000px;
	}

	@media(max-width: 1000px) {
		width: 100%;
	}
}