@import '../base/variables';

.inner {
	height: 1%;
	overflow: hidden;

	.bigbanner {
		float: left;
		width: 66.4%;
		@media(max-width: 1000px) {
			width: 100%;
		}		

		img {
			height: auto;
			display: block;
			line-height: 0;
			width: 100%;
		}
	}

	.form {
		background: #FBFBFB;
		float: left;
		margin-top: 72px;
		width: 33.6%;
		padding: 48px 40px;
		position: relative;
		@media(max-width: 1150px) {
			margin-top: 63px;
			padding: 48px 35px;
		}

		@media(max-width: 1000px) {
			margin-top: 0px;
			width: 100%;
		}		

		h1 {
			font-size: 25px;
			font-weight: 900;
			text-transform: uppercase;
			margin-bottom: 2px;
			text-align: center;
		}

		p {
			font-size: 11px;
			font-weight: 400;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 20px;
		}

		.success {
			display: none;
		}

		form {
			.steps {
				&.first {
					.first-step {
						display: block;
					}

					.paginator {
						ul {
							li {
								&:nth-of-type(1) {
									a {
										background: #FFCF00;
										border: 1px solid #FFCF00;												
									}										
								}
							}
						}
					}

					.buttons {
						#send {
							display: none;
						}
						#back {
							display: none;
						}
					}
				}

				&.second {
					.second-step {
						display: block;
					}

					.paginator {
						ul {
							li {
								&:nth-of-type(2) {
									a {
										background: #FFCF00;
										border: 1px solid #FFCF00;												
									}
								}
							}
						}
					}		

					.buttons {
						#send {
							display: none;
						}
					}								
				}

				&.third {
					.third-step {
						display: block;
					}

					.paginator {
						ul {
							li {
								&:nth-of-type(3) {
									a {
										background: #FFCF00;
										border: 1px solid #FFCF00;												
									}										
								}
							}
						}
					}	

					.buttons {
						#next {
							display: none;
						}

						#send {
							display: inline-block;
						}
					}									
				}	
				
				.first-step,
				.second-step,
				.third-step {
					display: none;
				}							
			}

			.input {
				margin-bottom: 10px;
				text-align: center;
				width: 100%;

				input {
					height: 35px;
					border-radius: 3px;
					border: 1px solid #9F9F9F;
					padding: 0px 10px;
					max-width: 264px;
					display: inline-block;
					outline: none;
					width: 100%;
				}

				select {
					border-radius: 3px;
					border: 1px solid #9F9F9F;
					display: inline-block;
					outline: none;
					height: 35px;
					max-width: 264px;
					padding: 0px 10px;
					width: 100%;					
				}

				textarea {
					height: 80px;
					outline: none;
					resize: none;
					padding: 10px;
					width: 100%;
				}

				&.error {
					input, select, textarea {
						border: 1px solid red;
					}
				}
			}

			.inputs {
				height: 1%;
				overflow: hidden;
				width: 100%;

				.left {
					float: left;
					width: 50%;
					line-height: 25px;
				}

				.right {
					float: left;
					width: 50%;
					line-height: 25px;
				}
			}

			.paginator {
				margin: 20px 0px;

				ul {
					text-align: center;
					width: 100%;

					li {
						display: inline-block;

						a {
							border: 1px solid #9F9F9F;
							background: #FBFBFB;
							height: 9px;
							display: block;
							width: 9px;
						}

						&.active {
							a {
								background: #FFCF00;
								border: 1px solid #FFCF00;								
							}
						}
					}
				}
			}

			.buttons {
				text-align: center;
				margin-bottom: 25px;
				width: 100%;

				button {
					height: 43px;
					width: 128px;
					background: #000;
					color: #fff;
					border: none;
					font-size: 18px;
					font-weight: 400;
					outline: none;
					transition: background 250ms, color 250ms;
					display: inline-block;
					@media(max-width: 1150px) {
						margin-bottom: 10px;
					}

					&:hover {
						background: #FED430;
						color: #000;
					}

					&:nth-of-type(2) {
						background: #FED430;
						color: #000;

						&:hover {
							background: #000;
							color: #fff;
						}
					}
				}
			}

			p {
				font-size: 12px;
				text-align: center;
				line-height: 14px;
				color: #707070;
				width: 100%;
			}
		}

		&.success-form {
			padding: 59px 40px 60px;
			
			h1 {
				display: none;
			}

			p {
				display: none;
			}

			.success {
				display: block;

				h1 {
					display: block;
				}

				p {
					display: block;
				}
			}

			form {
				.input {
					textarea {
						height: 128px !important;
					}
				}
			}			
		}	

		.errores {
			position: absolute;
			left: -200px;
			top: 30px;
			display: none;
			background: #FBFBFB;
			height: auto;
			width: 200px;

			@media(max-width: 1000px) {
				bottom: 0px;
				left: 0px;
				max-height: 100px;
				text-align: center;
				top: inherit;
				width: 100%;
			}

			ul {
				li {
					padding: 10px;
				}
			}
		}	
	}

	.wrap-text {
		background: #F2F2F2;
		padding: 30px 30px 31px;
		@media(max-width: 700px) {
			padding: 30px 10px;
		}

		h1 {
			font-size: 30px;
			font-weight: 900;
			text-transform: uppercase;
			margin-bottom: 35px;
			@media(max-width: 700px) {
				font-size: 18px;
				margin-bottom: 20px;
				text-align: center;
				width: 100%;
			}						
		}

		ul {
			height: 1%;
			overflow: hidden;

			li {
				display: block;
				float: left;
				font-size: 17px;
				font-weight: 400;
				padding-left: 24px;
				position: relative;
				text-align: center;
				width: 33.3%;
				@media(max-width: 700px) {
					margin-bottom: 15px;
					padding-left: 43px;
					width: 100%;
				}

				&:after {
					background: url('../img/html/check-icon.png');
					content: '';
					height: 20px;
					left: 0px;
					position: absolute;
					top: 0px;
					width: 23px;		
				}

				&:nth-of-type(2) {
					&:after {
						left: 10px;

						@media(max-width: 700px) {
							left: 0px;
						}						
					}
				}
			}
		}
	}
}

.footer-pdv {
	padding: 27px 20px 15px;
	background-color: #ffd102;
	position: relative;
	max-width: 1150px;
	margin: 0px auto;
	width: 100%;
	@media(max-width: 1150px) {
		width: 1000px;
	}	

	@media(max-width: 1000px) {
		width: 100%;
	}	

	.cont-text-footer {
		height: 1%;
		overflow: hidden;
		max-width: 1150px;
		margin: 0px auto;

		.item {
			display: inline-block;

			&:nth-of-type(1) {
				float: left;

				@media(max-width: 997px) {
					text-align: center;
					margin-bottom: 20px;
					width: 100%;
				}	
				
				img {
					display: inline-block;
				}			
			}

			&:nth-of-type(2) {
				float: right;
				@media(max-width: 997px) {
					text-align: center;
					width: 100%;
				}					

				img {
					display: inline-block;
				}							
			}			
		}
	}
}

.footer-foot-info {
	background-color: #cfcfcf;
	text-align: center;
	max-width: 1150px;
	padding: 20px 20px 10px;
	margin: 0px auto;
	width: 100%;    
	@media(max-width: 1150px) {
		width: 1000px;
	}		

	@media(max-width: 1000px) {
		width: 100%;
	}

    ul {
    	vertical-align: middle;

    	li {
			list-style: none;
			display: inline-block;
			text-transform: uppercase;
			color: #707070;
			font-size: 16px;
			margin: 0 2px;
			font-weight: 400;
			vertical-align: middle;
			@media(max-width: 997px) {
				text-align: center;
				margin-bottom: 10px;
			}

			span {
				@media(max-width: 997px) {
					display: none;
				}				
			}

			&:nth-of-type(2) {
				@media(max-width: 997px) {
					width: 100%;
				}
			}

			a {
			    color: #707070;
			    text-decoration: none;
			}
    	}
    }
}

::-webkit-input-placeholder {
    color: #787878;
}
:-moz-placeholder { 
   color: #787878;
   opacity:  1;
}
::-moz-placeholder {
   color: #787878;
   opacity: 1;
}
:-ms-input-placeholder {
   color: #787878;
}
:placeholder-shown {
  color: #787878;
}

select::-ms-expand {
    display: none;
}
